h1 {
    color: aquamarine
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.src {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
}